@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section{
  margin-bottom: 2rem;
  padding:2rem 9%;
}

.heading {
  font-size: 9rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: .05rem #745D43;
  letter-spacing: .2rem;
  text-align: center;
  pointer-events: none;
  position: relative;
  margin-top: 50px;
} 

.heading span {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #745D43;
  font-size: 3rem;
}

.btn{
  display: inline-block;
  padding: .9rem 1.5rem;
  border-radius: .1rem;
  color: #745D43;
  background: none;
  border: solid #745D43;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.7rem;
}

.btn:hover{
  border-radius: .1rem;
  border: solid goldenrod;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

#menu-btn{
  font-size: 3rem;
  color: #745D43;
  cursor: pointer;
  display: none;
}

.header{
  position: fixed;
  top:0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  padding: 2rem 9%;
}

.header .logo{
  color: #745D43;
  margin: 0%; padding: 0%;
  font-size: 2.3rem;
  font-weight: 600;
}

.header .logo:hover {
  color: goldenrod;
  text-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.header .navbar a{
  margin:0 1rem;
  font-size: 1.5rem;
  color:#745D43;
  font-weight: 500;
}

.header .navbar a:hover{
  color:#745D43;
  border-bottom: .1rem solid goldenrod;
  padding-bottom: .5rem;
  text-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.header .btn{
  margin-top: 0;
}

/* The progress container (grey background) */
.header .progress-container {
  position: fixed;
  top: 9rem; left: 0; right: 0;
  z-index: -1;
  width: 100%;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 3px;
  background: goldenrod;
  width: 0%;
}

/* Home starts */

.home{
  min-height: 100vh;
  width: 100vw;
  padding-top: 12rem;
  background: url(images/home-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.home .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1.5rem;
}

.home .row .content{
  flex:1 1 42rem;
  position: relative;
  align-content: center;
  margin-top: 10%;
}

.home .row .content h3{
  font-size: 5rem;
  text-align: center;
  color: #745D43;
  text-transform: uppercase;
}

.home .row .content p {
  text-align: center;
  font-size: 3.5rem;
  color: #ccc;
  font-weight: 600;
}

.home .row .content p span {
  color: #745D43;
  font-weight: 700;
}

/* Home ends */


/* About starts */

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .image {
  flex: 1 1 42rem;
}

.about .row .image img{
  margin-top: 2rem;
  margin-left: 7rem ;
  width: 55%;
  height: 70vh;
  animation: pulsate-fwd 4s linear infinite;
}

.about .row .content {
  position: relative;
  right: 0;
  flex: 1 1 42rem;
}

.about .row .content .title {
  color: #745D43;
  font-size: 3rem;
  line-height: 1.8;
}

.about .row .content p {
  color: #745D43;
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
}

.about .row .content ul {
  color: #745D43;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8;
  padding: 1rem 0;
  list-style-type: none;
}

.about .row .content .icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 3rem;
}

.about .row .content .icons-container .icons {
  flex: 1 1 15rem;
  padding: 1.5rem;
  text-align: center;
  border: .2rem solid #745D43;
  border-radius: .1rem;
}

.about .row .content .icons-container .icons:hover{
  border: .1rem solid goldenrod ;
}

.about .row .content .icons-container .icons img {
  height: 5rem;
}

.about .row .content .icons-container .icons h3 {
  font-size: 1.7rem;
  padding-top: 1rem;
  color: #745D43;
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(.8);
            transform: scale(.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(.8);
            transform: scale(.8);
  }
}


/* About ends */

/* Feedback starts */
.feedback {
  background: url(images/service-bg.jfif) no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  padding-top: 100px;
}

.feedback form {
  margin: 0 auto 2rem auto;
  max-width: 60rem;
  border-radius: .1rem;
  padding: 3rem;
  border: solid #745D43;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.feedback form .box{
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: .5rem;
  font-size: 1.6rem;
  background: none;
  text-transform: none;
  color: #745D43;
  border: .1rem solid #745D43;
  margin: .7rem 0;
}

.feedback form .box:focus{
  color:#745D43;
  border: .1rem solid goldenrod;
  padding: .5rem;
}

.feedback form textarea {
  height: 15rem;
  resize: none;
}

.feedback form textarea:focus{
  color:#745D43;
  border: .1rem solid goldenrod;
  padding: .5rem;
}

/* Feedback ends */

/* Menu starts */

.menu {
  margin-top: 10rem;
}

.menu .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.menu .box-container .box {
  flex: 1 1 42rem;
  padding: 2rem;
  border: .1rem solid #745D43;
  border-radius: .1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: 6rem;
}

.menu .box-container .box:hover{
  border: .1rem dotted goldenrod;
  border-radius: .1rem;
}

.menu .box-container .box a img {
  height: 8rem;
  margin-left: -6rem;
}

.menu .box-container .box img {
  height: 8rem;
  margin-left: -6rem;
}

.menu .box-container .box h3 {
  font-size: 2.2rem;
  color: #745D43;
  line-height: 1.8;
  margin-right: auto;
}

.menu .box-container .box p {
  font-size: 1.6rem;
  color: #745D43;
  line-height: 1.8;
  padding: 1rem 0;
}

.menu .box-container .box span {
  font-size: 2rem;
  color: #745D43;
  line-height: 1.8;
}

/* Menu ends */


/* Footer starts */

.footer .logo {
  color: #745D43;
  margin: 0%; padding: 0%;
  font-size: 2.3rem;
  font-weight: 600;
}

.footer .logo:hover {
  color: goldenrod;
  text-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.footer .logo i {
  padding-left: 1rem;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  gap: 1.5rem;
  margin-top: 5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: #745D43;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #745D43;
}

.footer .box-container .box a i {
  padding-right: .5rem;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  margin-top: 1rem;
  color: #745D43; 
}

.footer .credit span {
  border-bottom: .1rem solid goldenrod;
}

.footer .credit span:hover {
  border-bottom: .4rem dotted goldenrod; 
}

/* Footer ends */


/* media queries  */

@media(max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding: 2rem;
  }

  section{
      padding: 2rem;
  }

}

@media(max-width: 768px) {

  .heading{
    font-size: 6rem;
  }

  .heading span{
    font-size: 2rem;
  }

  #menu-btn{
    display: initial;  
  }

  #menu-btn.fa-times{
      transform:rotate(180deg);
  }

  .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background:#fff;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a{
      display: block;
      font-size: 2.2rem;
      margin:0;
      padding:1.5rem 2rem;
  }

  .home{
      text-align: center;
  }

  .home .row .content {
    position: relative;
    align-content: center;
    margin-top: 10rem;
  }

  .home .row .content h3{
      font-size: 4rem;
  }

  .about .row .image img {
    margin-left: 7rem;
    width: 70%;
  }

}

@media(max-width: 450px){

  html{
    font-size: 50%;
  }

}
